body{
    font-size: 20px;
    border-color: gray;
    border-style: solid;
    border-width: 1px;
    font-family: sans-serif;
    margin: 0;
}

.profile-photo {
    height: 250px;
    width:  250px;
    display: block;
    margin: 20px auto 10px;
    border-radius: 50%;
    overflow: hidden;
}
 header .profile-photo img {
     width: 100%;
 }
 h1 {
     text-decoration: none;
     text-align: center;
     margin-bottom: 0px;
 }
 #menu a {
     display: block;
 } 
#subtitle {
    color: gray;
    margin-top: 0px;
    margin-bottom: 20px;
}
h2{
    color: #6C6C6C;
    text-align: center;
}
#menu {
        padding:0;
        display: block;
        margin: 0 5px;
        
}
#menu a{
    color: white;
    text-decoration: none;
    position: relative;
    padding: 5px 0 5px 6px;

}
#menu a:after { 
    content: ">";
    position: absolute;
    right: 10px;
    
}
#menu li {
    padding-left: 50px;
    background-color:#B9B9B9;
    margin: 1px auto;
    list-style-type:none;
    color: white;
    
    }
h1, h2    {
        margin: 20px auto 5p
    }
h3 {
    margin: 10px;
}
#cv ul li em {
    color: lightgray;
    display: block;
}    
#cv ul li .job {
        display: block;
    }
#cv .download {
    text-align: center;
    
}
#cv .download a {
    text-decoration: none;
    color:#29C9D4;
}
#portfolio a .project1 {
    display: block;
    width:  250px;
    margin: 20px auto;
    border: black solid 1px;
    overflow: hidden;
}
#portfolio a .project1 img {
    width: 100%;
}
#portfolio a {
    text-decoration: none;
}
#portfolio a .link-text{
    color: darkgray;
    display: block;
    margin: 5px auto;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
}
#portfolio a em {
    color: lightgray;
}
figurecaption a {
    text-align: center;
}
.skills {
    margin: auto 20px;
}
.skills .progress{
    background-color: #29C9D4;
    height: 10px;
    border-radius: 5px;
    width: 50%;
}

.skills .progress-bar{
    border-color: gray;
    border-width: 1px;
    border-style: solid;
    border-radius: 6px;
    margin: auto;
}
#contact ul li{
    list-style-type: none;
    margin: 5px auto;
}

#contact a{
    text-decoration: none;
    color: #6C6C6C;
    font-size: 20px;
    vertical-align:middle;
}
ul li i{
    background-color: white;
    color: #29C9D4;
    font-size: 24px;
    vertical-align:middle;
}