body {
  /* border: gray solid 1px; */
  font-family: Raleway, sans-serif;
  font-size: 1rem;
  margin: auto;
  max-width: 80vw;
}
body header .profile-photo {
  height: 12.5rem;
  width: 12.5rem;
  display: block;
  margin: 1rem auto 0.5rem;
  border-radius: 50%;
  overflow: hidden;
}
body header .profile-photo img {
  width: 100%;
}
body h1 {
  text-decoration: none;
  text-align: center;
  margin-bottom: 0;
  font-family: "IM Fell English SC", serif;
  font-size: 2rem;
}
body #subtitle {
  color: gray;
  margin: 0 auto 1rem;
  font-family: "Tangerine", cursive;
  font-size: 2rem;
}
@font-face {
  body {
    font-family: magic;
    src: url("../fonts/Magic Hat.ttf");
  }
}
body h2 {
  /* font-family: magic, Arial, sans-serif; */
  text-align: center;
  font-size: 1.5em;
  font-weight: bolder;
  text-shadow: gray 0 0 5px;
}
body #menu {
  display: block;
  padding: 0;
  margin: 0;
}
body #menu a {
  display: block;
  color: #fff;
  font-size: 1em;
  text-decoration: none;
  position: relative;
  padding: 0.5rem 0.5rem 0.5rem 2.5rem;
  background-color: #b9b9b9;
  margin: 0.0625rem auto 0;
}
body #menu a:after {
  content: ">";
  position: absolute;
  right: 0.4em;
}
body #menu h1,
body #menu h2 {
  margin: 1rem auto 0.5rem;
}
body h2 {
  border-bottom: 1px gray solid;
}
body h3 {
  margin: 0.5rem;
}
body #cv ul li .job {
  display: block;
}
body #cv ul li em {
  color: gray;
  display: block;
}
body #cv .download {
  text-align: center;
}
body #cv .download a[download] {
  color: indigo;
}
body #cv .download a {
  text-decoration: none;
}
body #cv #portfolio a {
  text-decoration: none;
}
body #portfolio a .project1 {
  display: block;
  width: 12.5rem;
  margin: 1rem auto;
  border: black solid 0.05rem;
  overflow: hidden;
}
body #portfolio a .project1 img {
  width: 100%;
}
body #portfolio a .project1 .link-text {
  color: #b9b9b9;
  display: block;
  margin: 0.4rem auto;
  font-size: 1.2em;
  text-align: center;
  text-decoration: none;
}
body #portfolio a em {
  color: #b9b9b9;
}
body .skills {
  margin: 0 1rem;
}
body .skills .progress-bar {
  border: gray 0.05rem solid;
  border-radius: 0.5rem;
  height: 0.7rem;
}
body .skills .progress {
  background-color: #29c9d4;
  height: 100%;
  border-radius: 0.5rem;
}
body #contact a {
  text-decoration: none;
  margin: 0 0.625rem;
  color: gray;
  font-size: 1rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
body #contact li {
  list-style-type: none;
  margin: auto;
}
body #contact i {
  background-color: #fff;
  color: black;
  margin: 2px 7px;
  box-sizing: border-box;
}
@media screen and (min-width: 500px) {
  body #menu a:hover {
    background-color: black;
    font-size: 1.5em;
    text-decoration: underline;
  }
  body #menu a:active {
    color: crimson;
  }
  body #menu a::after {
    display: none;
  }
  body #cv .download a:hover {
    text-decoration: underline;
  }
  body #portfolio a:hover .link-text {
    text-decoration: underline;
  }
  body #contact a:hover {
    color: #29c9d4;
  }
  body #contact a:hover i {
    color: #29c9d4;
  }
}
@media screen and (min-width: 633px) {
  body header {
    height: 100vh;
  }
  body h1 {
    font-size: 3rem;
  }
  body #menu {
    display: inline-flex;
    text-align: justify;
    width: 100%;
  }
  body #menu a {
    display: inline-block;
    padding: 0 5%;
    text-align: center;
    font-size: 1.5em;
    text-transform: uppercase;
  }
  body #contact a {
    font-size: 1.2rem;
  }
}
@media print {
  body header,
body nav,
body footer {
    display: none;
  }
}

/*# sourceMappingURL=stylesheet1.css.map */
